{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet"  href="{% static 'MedecineApp/Css/style3.css'%}">
    <script src = "{% static "MedecineApp/Js/med.js" %}"></script>
    
</head>

<body>
    <header>
        <p class="app-title">MedicineApp</p>
        <div class="profile-button">
            <button>My Profile</button>
        </div>
        <nav>
            <ul>
                <center>
                    <li ><button class="navbarr"><a href="{% url 'search' %}">HOME</a></button></li>
                    <li><button class="navbarr"><a href="{% url 'actualite' %}">ACTUS</a></button></li>
                </center>
            </ul>  
        </nav>
    </header>

    <div class="search-bar">

        <form action="/MedecineApp/Search/" method="post">
        
       {% comment %}  <label for="medoc_name">Medoc name: </label>
        <input id="medoc_name" type="text" name="medoc_name" placeholder="Entrer le nom du medicament">
         <!--receive the medoc_name in a variable in a way that i can use it in my search function as a parameter -->
         {% endcomment %}
        
            {%  csrf_token %}
            {{medoc_form}} 
       
            <button type = "submit">Search</button>
     
        {% comment %} <label for="emplacement">Emplacement: </label>
        <input id="emplacement" type="text" name="emplacement" placeholder="Entrer votre emplacement">
        <!-- receive the person_emplacement in a variable  in a way that we can use it to provide nearest pharmacies -->
        <button>selectionner</button> {% endcomment %}

        
        
        </form>
        

    </div>

     <!-- use the result of the search function : the list of medicaments ; and print the result for each medicament -->
    {% if list_medicaments %}
        {% for medicament_distance in list_medicaments %}
            <div class="container">
                <div class="news-cardr">
                    <div class="namer">
                        
                        <strong>{{ medicament_distance.medicament.nom_medicament }} <!-- nom du medicament--> </strong>
                        <strong class="pharma">{{ medicament_distance.medicament.nom_pharmacie }} <!-- pharmacie qui possede le medicament --> </strong>

                        <strong > {{ medicament_distance.distance }} <!-- distance a cette pharmacie --> </strong>
                        <strong > {{ medicament_distance.duree }} <!-- duree a cette pharmacie --> </strong>
                        
                    </div>
                    <div class="simple-buttonr">
                        <button class="itineraire">Itineraire <!-- Lorsqu'on y clique dessus il nous fournit la localisation de la pharmacie qui possede le medicament --> </button>
                    </div>
                    <div class="map"></div>
                </div>
            </div>
        {% endfor %}
    {% endif %}



    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=directions"></script>
    <script>
        function initMap(cas,orig,destin) {
            let mapper = cas.querySelector(".map")
            mapper.style.height = "400px"
    
            const map = new google.maps.Map(mapper, {
                center: { lat: 48.8566, lng: 2.3522 },  // Coordonnées de Paris
                zoom: 8,
            });
            
            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);
            
            const request = {
                origin: orig,
                destination: destin,
                travelMode: google.maps.TravelMode.DRIVING
            };
            
            directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                }
            });
        }
        
        
        let input = document.getElementById("id_emplacement")

        let origine = input.value

        const Cas = document.querySelectorAll(".news-cardr")
        
        for (const cas of Cas){
            let pharmacie = cas.querySelector(".pharma")
            let destination = pharmacie.innerHTML
                        
            let button = cas.querySelector(".itineraire")
        
            button.onclick = function() {
                initMap(cas, origine, destination);
              };
        }

    </script> 
</body>

</html>